@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.hero {
  background-image: linear-gradient(#0000006a, #0000006a),
    url(./assets/home-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg_about {
  background-image: url(./assets/service-bg-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg_about_two {
  background-image: url(./assets/service-bg-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bg_about_three {
  background-image: url(./assets/service-bg-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_about_five {
  background-image: url(./assets/service-bg-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_image_eight {
  background-image: url(./assets/how-it-work.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .navBg {
    background: #000000f4;
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
  }
}
